#{field 'object.' + _name}
    <label for="${field.id}">
        &{_name}
    </label>
    <input id="${field.id}" class="${field.errorClass}" type="file" name="${field.name}" />
    #{ifError field.name}
        <span class="error">${field.error.raw()}</span>
    #{/ifError}
    #{if _value && _value.exists() && _id}
        <a class="currentAttachment" href="@{attachment(_id, _name)}">دانلود فایل (${_value.length().formatSize()})</a>
        <span class=""><input type="checkbox" name="${field.name}_delete_" value="true" /> حذف</span>
    #{/if}
#{/field}
