#{extends 'main.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

#{crud.navigation /}

<div id="crudBlank" class="${type.name} col-md-10 col-md-offset-1">

    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data', class:'ui form'}
        #{crud.form /}
        <p class="crudButtons">
          <hr />
            <input type="submit" class="ui primary button" name="_save" value="&{'crud.save', type.modelName}" />
            <a type="button" class="ui default button">&{'crud.return'}</a>
        </p>
    #{/form}
    </div>

</div>